@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/leaflet.scss";
@import "./styles/animation.scss";
@import "./styles/button.scss";

.text-shadow {
  text-shadow: 10px 9px 4px #444444;
}

.show-on-mapcontainer {
  position: absolute;
  z-index: 999;
}

/* https://codepen.io/hazmi/pen/JjoyONo */
.legend {
  position: absolute;
  z-index: 999;
  left: 20px;
  bottom: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
  font: calc(13px / 1) sans-serif;
  background: rgba(0, 0, 0, 0.8);
  cursor: default !important;
}
.legend > div {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 5px;
  @extend .text-white;
}
.legend > div::before {
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: var(--color);
}

.regression {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.direction-left {
  direction: ltr;
}
.direction-right {
  direction: rtl;
}

.map-container {

  @extend .rounded, .border, .border-primary;;
  box-shadow: 20px 20px 19px 8px #60a0ff;
  &:hover {
    @extend .rounded, .border-0;
    box-shadow: 20px 9px 17px 1px #7cb1ff;
  }

}
