@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/leaflet.scss";
@import "./styles/animation.scss";
@import "./styles/button.scss";

$orange-color: #fa9917;
// Update for text-responsiveness
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 3vmin;
}

body {
  font-size: calc(0.75em + 1vmin);
}

.text-shadow {
  text-shadow: 10px 9px 4px #444444;
}
.text-warning {
  color: $orange-color !important;
}

.border-warning {
  border-color: $orange-color !important;
}

.btn-warning {
  background-color: $orange-color !important;
  border-color: $orange-color !important;
}

.about-background-right {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.show-on-mapcontainer {
  position: absolute;
  z-index: 999;
}

.rounded-xxl {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px;
}

/* https://codepen.io/hazmi/pen/JjoyONo */
.legend {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
  font: calc(13px / 1) sans-serif;
  background: rgba(0, 0, 0, 0.8);
  cursor: move !important;
  user-select: none;
}
.legend > div {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 5px;
  @extend .text-white;
}
.legend > div::before {
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: var(--color);
}

.regression {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.direction-left {
  direction: ltr;
}
.direction-right {
  direction: rtl;
}

.map-container {

  @extend .rounded, .border, .border-primary;;
  box-shadow: 20px 20px 19px 8px #60a0ff;
  &:hover {
    @extend .rounded, .border-0;
    box-shadow: 20px 9px 17px 1px #7cb1ff;
  }

}
