
@import "~bootstrap/dist/css/bootstrap.css";
@import "~leaflet/dist/leaflet.css";
@import "bootstrap";
@import "./animation.scss";

.leaflet-interactive:hover {
  stroke: #021ebd;
  // box-shadow: 5px 5px 10px 1px #000;
  stroke-width: 1;
  stroke-dasharray: 1, 1;
  animation: pulse-motion 2s ease 0s;
}
 